[Unit]
Description=Handle the expiracy of the host
After=network.target

[Service]
Type=simple

User=root
Group=root
UMask=700

ExecStart=/usr/bin/date-checker
Restart=on-failure


[Install]
WantedBy=multi-user.target